:root {
    --color-text: #fff; /*Adjust for navbar text color*/
    --color-primary: #576cbc;
    --color-secondary: #19376d--color-dark: #0b2447;
    --color-bg: #04152d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    --font-roboto: "Roboto";
}